@charset "utf-8";
/* ==================
reset
===================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,select, input {
	margin:0;
	padding:0;
	border:0;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	box-sizing:border-box;
	font-family:'notokr';
	font-size:15px;
	font-weight:400;
	line-height:1;
	vertical-align:baseline;
}
body {color:#707070;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}

button,input, select {font-family:'notokr';}
ol,ul {list-style:none;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:''; content:none;}
table {border-collapse:collapse; border-spacing:0;}
body {-webkit-text-size-adjust:none;}
mark {background-color:transparent; color:inherit;}

/* Basic */
@-ms-viewport {width:device-width;}
html,body {box-sizing:border-box; height:100%;}
*,*:before,*:after {box-sizing:inherit;}
body {background:#fff;}
body.is-preload *,body.is-preload *:before,body.is-preload *:after {
	-moz-animation:none !important;
	-webkit-animation:none !important;
	-ms-animation:none !important;
	animation:none !important;
	-moz-transition:none !important;
	-webkit-transition:none !important;
	-ms-transition:none !important;
	transition:none !important;
}
body, input, select, textarea{}
a{border:0;color:inherit;text-decoration:none}
a:hover{}
b,
strong{font-weight:700}
em,
i{font-style:normal}
/* List */
ol{list-style:decimal}
ol li{padding-left:0.25em}
ul{list-style:disc}
ul li{list-style:none}
ul.alt{list-style:none;padding-left:0}
ul.alt li:first-child{border-top:0;padding-top:0}
.clearfix::after{content:"";clear:both;display:table}
.blind,
caption{overflow:hidden;position:absolute;width:1px;height:1px;clip:rect(1px,1px,1px,1px)}


/* font */
@font-face {
	font-family: 'Moebius';
	font-weight: 400;
	src: url(../font/MoebiusKorea-Regular.eot);
	src: url(../font/MoebiusKorea-Regular.eot?#iefix) format('embedded-opentype'),
			url(../font/MoebiusKorea-Regular.woff2) format('woff2'),
			url(../font/MoebiusKorea-Regular.woff) format('woff'),
			url(../font/MoebiusKorea-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Moebius';
	font-weight: 700;
	src: url(../font/MoebiusKorea-Bold.eot);
	src: url(../font/MoebiusKorea-Bold.eot?#iefix) format('embedded-opentype'),
			url(../font/MoebiusKorea-Bold.woff2) format('woff2'),
			url(../font/MoebiusKorea-Bold.woff) format('woff'),
			url(../font/MoebiusKorea-Bold.ttf) format('truetype');
}


@font-face {font-family:'notokr'; font-weight:700; font-style:normal; src:url('../font/notokr-bold.eot'); src:url('../font/notokr-bold.eot?#iefix') format('embedded-opentype'),
    url('../font/notokr-bold.woff2') format('woff2'),
    url('../font/notokr-bold.woff') format('woff'),
    url('../font/notokr-bold.ttf') format('truetype'),
    url('../font/notokr-bold.svg#notokr-medium') format('svg');}

@font-face {font-family:'notokr'; font-weight:500; font-style:normal; src:url('../font/notokr-medium.eot'); src:url('../font/notokr-medium.eot?#iefix') format('embedded-opentype'),
    url('../font/notokr-medium.woff2') format('woff2'),
    url('../font/notokr-medium.woff') format('woff'),
    url('../font/notokr-medium.ttf') format('truetype'),
    url('../font/notokr-medium.svg#notokr-medium') format('svg');}

@font-face {font-family:'notokr'; font-weight:400; font-style:normal; src:url('../font/notokr-regular.eot'); src:url('../font/notokr-regular.eot?#iefix') format('embedded-opentype'),
    url('../font/notokr-regular.woff2') format('woff2'),
    url('../font/notokr-regular.woff') format('woff'),
    url('../font/notokr-regular.ttf') format('truetype'),
    url('../font/notokr-regular.svg#notokr-regular') format('svg');}


/* ==================
common
===================== */

/* button */
.btn {display:inline-block;margin-top:24px;}
.btn.more {border:1px solid  #fff;padding:0 40px;height:45px;line-height:45px;}

/* input */
/* input::-moz-focus-inner{border:0;padding:0}
input, select, textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}
input, select{height:43px;border:1px solid #ddd;box-sizing:border-box;padding:0 12px;vertical-align:middle}
select{width:100%;height:43px;padding:13px 13px 12px;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:1px solid #ddd;border-radius:0;box-sizing:border-box;cursor:pointer;color:#707070;background:#fff url('../images/ico-arr-down.png') no-repeat 95% 50%}
input::placeholder{font-size:16px;font-weight:700;color:#707070}
input:disabled{color:#8b8787 !important;background:#d2d2d2}
input[type="file"]{display:none}
input[type="file"] + label{display:inline-block;width:48px;height:31px;background:#f8f8f8;color:#707070;font-size:16px;text-align:center;line-height:31px;border:1px solid #ddd;box-sizing:border-box;cursor:pointer}
.search-clear{position:absolute !important;right:13px;top:50%;transform:translateY(-50%);width:11px;height:11px;background:url('../images/ico-close.png') no-repeat 0 0;cursor:pointer;text-indent:-9999px} */




/* header */
#header{height:80px;max-width:1240px;margin:0 auto;background:#fff}
#header h1{padding-top:14px;display:inline-block}
#header .nav{float:right;padding-top:38px}
#header .gnb{display:inline-block}
#header .gnb li{display:inline-block;margin-left:45px}
#header .gnb li a{color:#353535;font-size:18px;font-weight:700}
#header .gnb li.on a{color:#e31837}
#header .lnb{display:inline-block;margin-left:60px}
#header .lnb li{display:inline-block;color:#8c8a8a}
#header .lnb li a{color:#8c8a8a;font-size:16px;font-weight:700}
#header .lnb li:last-child::before{content:'';clear:both;display:inline-block;width:2px;height:14px;background:#a7a5a5;margin:0 12px}
.wrap{padding-bottom:80px;position:relative}
#container{background-color:#f8f8f8;padding-top:25px;padding-bottom:55px}
#container .contents{max-width:1240px;margin:0 auto;background:#fff;border:1px solid #dddddd;min-height:500px;height:100%;padding:40px;box-sizing:border-box}
#container .contents h2{font-size:38px;font-weight:700;color:#353535;margin-bottom:20px;font-family: 'Moebius';}
#container .contents h3{font-size:24px;font-weight:700;color:#353535;font-family: 'Moebius';}
.keyvisual{height:190px;background:url('../images/sub_bg.jpg') no-repeat 0 0 / cover;color:#fff;padding-top:55px}
.keyvisual .text-area{max-width:1240px;margin:0 auto;padding-top:22px;position:relative;color:#fff;}
.keyvisual .text-area::before{content:'';clear:both;display:inline-block;width:35px;height:5px;background:#e31837;position:absolute;top:0;left:0}
.keyvisual .text-area::after{content:'';clear:both;display:inline-block;width:35px;height:5px;background:#f58025;position:absolute;top:0;left:35px}
.keyvisual .summary-text{font-size:14px;color:#fff;}
.keyvisual .title-text{font-size:39px;font-weight:700;margin-top:15px;font-family: 'Moebius';color:#fff;}
#footer{height:80px;background-color:#e31837;padding-top:25px;color:#fff;position:absolute;bottom:0;width:100%}
#footer .footer-area{max-width:1240px;margin:0 auto}
#footer li{display:inline-block}
#footer li::before{content:'';clear:both;display:inline-block;width:1px;height:14px;margin:0 10px;background:#fff}
#footer li:first-child::before{display:none}
#footer address{font-size:12px;font-weight:400;margin-top:10px;font-style:normal}
span{display:inline-block}
.user-name{color:#f58025}
.contents{position:relative}
.bread-crumb{position:absolute;right:40px;top:50px}
.bread-crumb li{float:left;font-size:13px;color:#707070}
.bread-crumb li::before{content:'>';margin:0 4px}
.bread-crumb li:first-child::before{display:none}
input[type="text"]::-ms-clear{display:none}
input[type="date"]::-ms-clear{display:none}
select::-ms-expand{display:none}